@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Indie+Flower&family=Josefin+Sans:ital,wght@0,400;0,600;0,700;1,600&family=Poppins:ital@0;1&family=Raleway:ital@1&family=Shadows+Into+Light&family=Ysabeau+SC:wght@100;200;300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
  height: 100vh;
}
body{
  background-color: #c5c5c5;
}
.conteiner-grade{
  position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
  width: 70%;
  height: auto;
}
.categoria-promo{
  font-size: 20pt;
}
  .container-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .card_box {
    width: 200px;
    height: 300px;
    border-radius: 20px;
    background: linear-gradient(170deg, rgba(255, 255, 255, 0.623) 0%, rgb(255, 255, 255) 100%);
    position: relative;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.103);
    cursor: pointer;
    transition: all 0.3s;
  }
  
 /*  .card_box:hover {
    transform: scale(0.9);
  } */
  
  .card_box span {
    position: absolute;
    overflow: hidden;
    width: 150px;
    height: 150px;
    top: -10px;
    left: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card_box span::before {
    content: 'Promoções';
    position: absolute;
    font-size: 12pt;
    width: 150%;
    height: 30px;
    background-image: linear-gradient(45deg, #13293d 0%, #1b98e0  51%, #006494  100%);
    transform: rotate(-45deg) translateY(-20px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    box-shadow: 0 5px 10px rgba(0,0,0,0.23);
  }
  
  .card_box span::after {
    content: '';
    position: absolute;
    width: 10px;
    bottom: 0;
    left: 0;
    height: 10px;
    z-index: -1;
    box-shadow: 140px -140px #13293d;
    background-image: linear-gradient(45deg, #13293d 0%, #1b98e0  51%, #006494  100%);
  }
  .card-img img{
/*     background-image: url(/hotdev/sistema_de_gerenciamento/img/burguer-lukas.jpg);
 */    height: 60%;
    width: 100%;
    background-size: cover;
    border-radius: 0.5rem;
    transition: 0.3s ease;
   }
/*   .card-img{
    background-image: url(/hotdev/sistema_de_gerenciamento/img/burguer-lukas.jpg);
    height: 60%;
    width: 100%;
    background-size: cover;
    border-radius: 0.5rem;
    transition: 0.3s ease;
   } */
 
   .card-info {
    padding-left: 3%;
    padding-top: 5%;
   }
   
   svg {
    width: 20px;
    height: 20px;
   }
   
   .card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #ddd;
   }
   
   /*Text*/
   .text-title {
    font-weight: 900;
    font-size: 0.9em;
    line-height: 1.5;
    padding-bottom: 10px;

   }
   
   .text-body {
    font-size: .7em;
    padding-bottom: 10px;
   }
   
   /*Button*/
   .card-button {
    border: 1px solid #252525;
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
   }
   /* icone */
   .card_box .question-icon {
    color: #1b98e0;
    font-size: 14pt;
    text-align: left;
   
  }
  
  .info-box {
    display: none;
    position: absolute;
    top: 7%;
    left: 16%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    width: auto;
    height: auto;
    z-index: 1;
    border-radius: 10px;
  
  }
  
  .info-box p{
    font-size: 7pt; 
    color: #ffffff;
  }
  
/*   .card_box:hover .info-box {
    display: block;
  }
   */
  .question-icon {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20px;
    color: #333;
  }
  /* BOTÃO SAIBA MAIS */
  /* .button {
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #1b98e0;
    transition: all 1000ms;
    font-size: 10px;
    position: relative;
    overflow: hidden;
    outline: 2px solid #1b98e0;
    margin: 5px;
  
  }
 
  button:hover {
    color: #fff;
    transform: scale(1.1);
    outline: 2px solid #4098cc;
    box-shadow: 4px 5px 17px -4px #1b98e0;
  }
  
  button::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #1b98e0;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
  }
  
  button:hover::before {
    width: 250%;
  } */
  /* Carrousel */
  .carousel-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 10px;
  }
  
  .carousel {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }
  
  .card {
    flex: 0 0 320px;
    height: 400px;
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: center;
/*     margin: 2px;
 */    font-size: 24px;
  }
  
  button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #007bff;
    color: #fff;
    border: none;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.4s;
  }
  button:hover {
    background-color: #3b9aff;
  }
  
  .prev-btn {
    left: 10px;
  }
  
  .next-btn {
    right: 10px;
  }
  