
/* Estilos para os ícones flutuantes */
.floating-icons {
    position: fixed;
    z-index: 999; /* Certifique-se de que os ícones tenham uma camada superior (z-index) */
    right: 20px;
    bottom: 20px;
  }
  
  .icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: cover;
    margin: 5px;
  }
  
  .facebook {
    background-image: url('img/facebook.png');
  }
  
  .instagram {
    background-image: url('img/instagram.png');
  }
  
  .whatsapp {
    background-image: url('img/whatsapp.png');
  }
  