* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* html,
body {
    position: relative;
    min-height: 100vh;
    overflow: auto;
}

main {
    padding-bottom: 3rem;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;
} */

#img_carrossel {
    height: 25rem;
    object-fit: fill;
}

@media only screen and (max-width: 600px) {
    #img_carrossel {
        height: 15rem;
    }
}